/*
about:config
toolkit.legacyUserProfileCustomizations.stylesheets
*/

 #navigator-toolbox {
    height: 0.01px !important;
    min-height: 0.01px !important;
    overflow: hidden !important;
 }

/*
#navigator-toolbox:hover,
#navigator-toolbox:focus,
#navigator-toolbox:focus-within,
#navigator-toolbox:active {
    height: auto !important;
    overflow: visible !important;
}
*/
